.cart {
    Table {
        tbody {
            line-height: 300%;
            .btn {
                margin: 3px;
                padding: 3px 10px;
                font-size: 20px;
                font-weight: 900;
                background-color: rgb(240, 188, 17);
            }
            .minusBtn {
                padding: 3px 13px;
            }
        }
    }
    .my-alert {
        max-width: 1400px;
        width: 100%;
        margin: 30px auto;
        padding: 20px;
        background-color: #ffe591;
        border-radius: 10px;
        
        p {
            display: inline;
            padding-right: 25px;
            margin-bottom: 0
        }
        button {
            padding: 5px;
            background-color: rgb(80, 69, 11);
            color: #fff;
            border: 0;
            border-radius: 5px;
        }
    }
}